<div class="subheader clearfix">
	<div class="fixed-container">		
		<div id="list-header" class="clearfix utilities-panel-wrapper db-util-background-{{submenu.dashboardName}}">
		   <div class="custom-spinner case-dairy-spinner" ng-show="submenu.fetchingcaseDocuments"><i class="fa fa-spinner fa-spin fa-3x"></i></div>
		   <div ng-include='"../views/common/submenu-dropdown.html"' ng-controller="submenuDropdownController"></div>
		   
		   <div id="list-header" class="utilities-panel-contents-wrapper db-util-process-tab-manage db-util-background-{{submenu.dashboardName}}">
			   <div class="activiti-subheader-wrapper">
			    <div class="container-fluid clearfix">
			   	 <div class="row">
				     <div class="col-sm-2 task-subheader">
				      	<h4>{{'DECISION-TABLES-LIST.TITLE' | translate}}</h4>
				     </div>
				     <div class="col-sm-10 task-subheader-content">
				 		<ul class="nav navbar-nav" id="main-nav" ng-show="authenticated">
				            <li ng-class="{'active' : item.id == mainPage.id}" ng-repeat="item in mainNavigation"
				                ng-show="(authenticated && !item.unauthenticated) || (item.unauthenticated && !authenticated)">
				                <a ng-click="setMainPage(item)">{{item.title | translate}}</a>
				            </li>
				        </ul>
				      	<div class="btn-group pull-right">
							<button type="button" class="btn btn-default" ng-click="createDecisionTable()" ng-disabled="readOnly" translate>DECISION-TABLES-LIST.ACTION.CREATE</button>
	       				<button type="button" class="btn btn-default" ng-click="importDecisionTable()" ng-disabled="readOnly" translate>DECISION-TABLES-LIST.ACTION.IMPORT</button>
	       				</div>
				     </div>
			     </div>
			    </div>
			   </div>
		   </div>		   
		   </div>
		   
	</div>
</div>

<div class="container-fluid content" id="decision-tables-list-container" auto-height offset="40">
 	<div class="row">
        <div class="col-xs-2 filter-wrapper">
            <div class="input-group">
                <span class="input-group-addon"> <i
                    class="glyphicon glyphicon-search"></i>
                </span> <input type="text" ng-model="model.pendingFilterText" class="form-control" ng-change="filterDelayed()"
                    placeholder="{{'DECISION-TABLES-LIST.SEARCH-PLACEHOLDER' | translate}}">
            </div>
            <ul class="filter-list">
                <li ng-repeat="filter in model.filters" ng-class="{'current' : filter.id == model.activeFilter.id}">
                    <a ng-click="activateFilter(filter)">{{'DECISION-TABLES-LIST.FILTER.' + filter.labelKey | translate}}</a>
                </li>
            </ul>
        </div>
        
        <div class="col-xs-10 item-wrapper" id="list-items">
            <div class="dropdown-subtle pull-right">
                <div class="btn-group btn-group-sm" activiti-fix-dropdown-bug>
                    <button type="button" class="btn btn-default dropdown-toggle"
                        data-toggle="dropdown">{{'DECISION-TABLES-LIST.SORT.' + model.activeSort.labelKey | translate}} <i class="caret"></i></button>
                    <ul class="dropdown-menu pull-right">
                        <li ng-repeat="sort in model.sorts">
                            <a ng-click="activateSort(sort)">{{'DECISION-TABLES-LIST.SORT.' + sort.labelKey | translate}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="message clearfix">
                <div class="loading pull-left" ng-show="model.loading">
                    <div class="l1"></div><div class="l2"></div><div class="l2"></div>
                </div>
                <div ng-if="!model.loading">
                    <span ng-if="model.decisionTables.size > 1">{{'DECISION-TABLES-LIST.FILTER.' + model.activeFilter.labelKey + '-COUNT' | translate:model.decisionTables}}</span>
                    <span ng-if="model.decisionTables.size == 1">{{'DECISION-TABLES-LIST.FILTER.' + model.activeFilter.labelKey + '-ONE' | translate}}</span>
                    <span ng-if="model.decisionTables.size == 0 && (!model.filterText || model.filterText == '')">{{'DECISION-TABLES-LIST.FILTER.' + model.activeFilter.labelKey + '-EMPTY' | translate}}</span>
                    <span ng-if="model.decisionTables.size > 0 && model.filterText !='' && model.filterText !== undefined">{{'DECISION-TABLES-LIST.FILTER.FILTER-TEXT' | translate:model}}</span>
                    <span ng-if="model.decisionTables.size == 0 && model.filterText !='' && model.filterText !== undefined">{{'DECISION-TABLES-LIST.FILTER.FILTER-TEXT-EMPTY' | translate:model}}</span>
                </div>
            </div>
            
            <div class="create-inline" ng-if="model.decisionTables.size == 0 && (!model.filterText || model.filterText == '')">
                <span>{{'DECISION-TABLES-LIST.FILTER.' + model.activeFilter.labelKey + '-EMPTY' | translate}}</span>
                <span><button type="button" class="btn btn-default" ng-click="createDecisionTable()" ng-disabled="readOnly">
                    <i class="glyphicon glyphicon-plus-sign"></i>{{'DECISION-TABLES-LIST.ACTION.CREATE-INLINE' | translate}}
                </button></span>
            </div>
            <div id="decisionTablesList" ng-show="model.decisionTables.data != undefined && model.decisionTables.data.length > 0">
	            <div class="item fadein" ng-repeat="decisionTable in model.decisionTables.data track by $index">
	                <div class="item-box" ng-style="{'background-image': 'url(\'' + activityApiPath + '/app/rest/models/' + decisionTable.id + '/thumbnail?version=' + imageVersion + '&token=' +token+ '\')'}" ng-click="showDecisionTableDetails(decisionTable);">
	                    <div class="actions">
	                        <span class="badge">v{{decisionTable.version}}</span>
	                        <div class="btn-group pull-right">
	                            <button type="button" ng-click="showDecisionTableDetails(decisionTable); $event.stopPropagation();" class="btn btn-default" title="{{'DECISION-TABLE.ACTION.DETAILS' | translate}}">
	                                <i class="glyphicon glyphicon-search"></i>
	                            </button>
	                            <button type="button" ng-click="editDecisionTableDetails(decisionTable); $event.stopPropagation();" class="btn btn-default" title="{{'DECISION-TABLE.ACTION.OPEN-IN-EDITOR' | translate}}">
	                                <i class="glyphicon glyphicon-edit"></i>
	                            </button>
	                        </div>
	                    </div>
	                    <div class="details">
	                        <h3 class="truncate" title="{{decisionTable.name}}">
	                            {{decisionTable.name}}
	                        </h3>
	                        <div class="basic-details truncate">
	                            <span><i class="glyphicon glyphicon-user"></i> {{decisionTable.createdByFullName}}</span> <span title="{{decisionTable.lastUpdated | dateformat:'LLLL'}}"><i class="glyphicon glyphicon-pencil"></i> {{decisionTable.lastUpdated | dateformat}}</span>
	                        </div>
	                        <p>{{decisionTable.description}}</p>
	                    </div>
	                </div>
	            </div>
            </div>
            
            <div class="show-more" ng-if="model.decisionTables.data.length < model.decisionTables.total">
                <a>{{'DECISION-TABLES-LIST.ACTION.SHOW-MORE' | translate}}</a>
            </div>
        </div>
        </div>
</div>