<div class="ui-grid-cell-contents">
    <img ng-if="!row.entity.customIcon" ng-src="editor-app/stencilsets/bpmn2.0/icons/{{row.entity.icon}}" />
    <img ng-if="row.entity.customIcon" ng-src="ACTIVITI.API.path/app/rest/image/{{row.entity.icon}}?token={{token}}"/>
</div>