
<div class="modal" ng-controller="KisBpmShapeSelectionCtrl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()"><span>&#x2716;</span></button>
                <h2>Change shape to:</h2>
            </div>
            <div class="modal-body">
                <div ng-if="gridOptions" class="kis-listener-grid" ui-grid="gridOptions" ui-grid-selection></div> 
            </div>
            <div class="modal-footer">
                <button ng-click="cancel()" class="btn btn-default" translate>ACTION.CANCEL</button>
                <button ng-click="select()" class="btn btn-primary" translate>ACTION.SELECT</button>
            </div>
        </div>
    </div>
</div>
