<div class="modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
			   <button type="button" class="close" ng-click="closeDataPopUp()" data-dismiss="modal" aria-hidden="true"><span>&#x2716;</span></button>
			   <h4 class="modal-title">Additional Information</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-sm-12">
						<div id="mainData" class="text-left">
				
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>	
			
