
<div class="clearfix login-container">

    <div class="pull-left login-left-column">
    	<img class="img-responsive center-block" src="/{{contextPath}}/images/logo.png" alt="logo">
    	<img class="img-responsive center-block" src="/{{contextPath}}/images/element.png" alt="element">
    </div>

    <div class="pull-right login-right-column">

        <form class="form clearfix login-form" role="form">

            <div class="form-group">
                <input type="text" class="form-control" id="username" placeholder="{{'LOGIN.USERNAME-PLACEHOLDER' | translate}}" ng-model="username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="password" placeholder="{{'LOGIN.PASSWORD-PLACEHOLDER' | translate}}" ng-model="password" >
            </div>
            <div class="btn-group pull-left">
                <button id="login" type="submit" class="btn btn-default" ng-click="login()" ng-disabled="model.loading">
                    {{'LOGIN.ACTION.CONFIRM' | translate}}
                </button>
            </div>
            <p ng-if="invalidCredentials" class="login-error" translate="LOGIN.INVALID-CREDENTIALS"></p>
        </form>

    </div>

</div>
