
<div ng-controller="KisBpmBooleanPropertyCtrl">
	<label class="custom-checkbox-input">
	    <input type="checkbox" ng-model="property.value" ng-change="changeValue()"/>
	    <span>&nbsp;</span>
    </label>
</div>