
<span ng-if="!property.noValue">{{property.value|limitTo:20}}</span>
<span ng-if="!property.noValue && property.value != null && property.value.length > 20">...</span>
<span ng-if="property.noValue" translate>PROPERTY.EMPTY</span>

<!-- <select ng-if="!property.noValue" ng-model="property.value" ng-options="x for (x, y) in delegateExp">
        <option value="" disabled selected>--- Select ---</option>
</select> -->