
<div class="modal" ng-controller="BpmnFeedbackPopupCtrl">
    <div class="modal-dialog">
        <div class="modal-content">
			<div class="modal-header">
            	<h2>{{'PROPERTY.FEEDBACK.TITLE' | translate:property}}</h2>
            </div>
            <div class="modal-body">
            	<p><textarea auto-focus class="form-control" ng-model="model.feedback" style="width:90%; height:100%; max-width: 100%; max-height: 100%; min-height: 300px"/></p>
           	</div>
           	<div class="modal-footer">
            	<button ng-click="cancel()" class="btn btn-default" translate >ACTION.CANCEL</button>
              	<button ng-click="send()" ng-disabled="model.feedback.length === 0" class="btn btn-primary" translate >ACTION.SEND</button>
            </div>
		</div>
	</div>
</div>