
<span ng-if="property.title != 'Delegate expression'">
    <div ng-controller="KisBpmStringPropertyCtrl">
        <input type="text" ng-model="property.value"
            class="form-control"
            auto-focus
            select-text="property.value"
            ng-blur="inputBlurred()"
            ng-keypress="enterPressed($event)"/>
    </div>
</span>
<span ng-if="property.title == 'Delegate expression'">
    <div ng-controller="KisBpmMultiInstanceCtrl">
        <select ng-model="property.value" ng-change="multiInstanceChanged()" ng-options="y as x for (x, y) in delegateExp">
            <option value="" disabled selected>--- Select ---</option>
        </select>
    </div>
</span>