
<div class="modal" ng-controller="KisBpmTextPropertyPopupCtrl">
    <div class="modal-dialog">
        <div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()"><span>&#x2716;</span></button>
			    <h3>{{'PROPERTY.PROPERTY.EDIT.TITLE' | translate}} "{{property.title | translate}}"</h3>
			</div>
			<div class="modal-body">
				<textarea id="KisBpmTextPropertyPopupText" auto-focus class="form-control" ng-model="property.value"/>
			</div>
			<div class="modal-footer">
				<button ng-click="save()" class="btn btn-primary" translate >ACTION.SAVE</button>
			</div>
		</div>
	</div>
</div>