/*--  Display Modal Styles  --*/
div[class*='ui-tooltip-kisbpm-'] {
    background-color: #2B414F;
    color: #4a4a4a;
    font-family: Verdana;
    font-size: 12px;
    border: 1px solid #3E5662;
}

div[class*='ui-tooltip-kisbpm-'] .qtip-content {
  color: #657F8B;
  background-color: #2B414F;
  font-family: "Roboto Regular";
  font-size: 12px;
}

.ui-tooltip-kisbpm-bpmn .qtip-titlebar {
  color: #657F8B;
  font-size: 12px;
  background: #2B414F;
  font-family: "Roboto Bold";
}

.ui-tooltip-kisbpm-bpmn .qtip-tip {
  background-color: #2B414F;
}
