<div class="subheader clearfix">
	<div class="fixed-container">			
		<div class="clearfix utilities-panel-wrapper db-util-background-{{submenu.dashboardName}}">
		   <div class="custom-spinner case-dairy-spinner" ng-show="submenu.fetchingcaseDocuments"><i class="fa fa-spinner fa-spin fa-3x"></i></div>
	 	 	<div ng-include='"../views/common/submenu-dropdown.html"' ng-controller="submenuDropdownController"></div>
		   
		   <div class="utilities-panel-contents-wrapper db-util-process-tab-manage db-util-background-manage">
			   <div class="activiti-subheader-wrapper">
			    <div class="container-fluid clearfix">
			   	 <div class="row">
				     <div class="col-sm-9 task-subheader-content">
				 		<ul class="nav navbar-nav">
		                    <li ng-repeat="item in mainNavigation"
		                        id="{{item.id}}"
		                        ng-show="item.isVisible() && (authenticated && !item.unauthenticated) || (item.unauthenticated && !authenticated)"
		                        ng-class="{'active': item.id == mainPage.id}">
		                        <a ng-click="setMainPage(item)">{{item.title | translate}}</a>
		                    </li>
		                </ul>
				     </div>
			     </div>
			    </div>
			   </div>
		   </div>
		   
		   </div>
	</div>
</div>
<div class="main-list" id="groupsListWrapper">
    <div class="list-subheader clearfix" style="margin-top: 0px; min-height: 60px">
        <div class="btn-group pull-right">
            <button class="btn" translate="IDM.FUNCTIONAL-GROUP-MGMT.CREATE" ng-click="showCreateGroupPopup()">&nbsp;</button>
        </div>
    </div>
    <div class="list-wrapper" id="groupsList" auto-height>

        <span loading="model.loading"></span>

        <div class="list-wrapper" ng-show="!model.loading">

            <ul class="full-list" offset-top="100">
                <li ng-repeat="group in model.groups" ng-class="{'active': model.selectedGroup.id == group.id}" ng-click="selectGroup(group.id)">
                    <div>
                        <div class="title">
                            {{group.name}}
                        </div>
                    </div>
                </li>
            </ul>
            <div class="nothing-to-see" ng-show="model.tasks.length == 0">
                <span  translate="TASK.MESSAGE.NO-TASKS"></span>
            </div>
        </div>


        <div class="nothing-to-see" ng-if="model.groups.length == 0">
            <span  translate="IDM.FUNCTIONAL-GROUP-MGMT.NO-GROUPS"></span>
        </div>

    </div>
</div>

<div class="main-content-wrapper" id="groupsContentContainer">

    <div class="main-content" ng-show="!model.loadingGroup">

        <div class="header" ng-if="model.selectedGroup">

            <div class="pull-right">
                <button class="btn btn-clean" ng-click="showEditGroupModal()">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button class="btn btn-clean" ng-click="showActivateGroupModal()" ng-if="model.selectedGroup.status == 'inactive'">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
                <button class="btn btn-clean" ng-click="showDeleteGroupModal()">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </div>

            <h2>
                <span>{{model.selectedGroup.name}}</span>
                <span ng-if="model.selectedGroup.status == 'inactive'">({{'IDM.FUNCTIONAL-GROUP-MGMT.INACTIVE' | translate}})</span>
            </h2>

        </div>

        <div class="content" ng-show="model.selectedGroup" auto-height offset="70">

            <span loading="model.loadingGroup"></span>

            <div ng-if="!model.loadingGroup">

                <div class="col-xs-12">

                    <div class="section" style="min-height: 0; font-style: italic;" ng-if="model.selectedGroup.status == 'inactive'">
                        <blockquote>
                            {{'IDM.FUNCTIONAL-GROUP-MGMT.INACTIVE-DESCRIPTION' | translate}}
                        </blockquote>
                    </div>

                    <!-- Sync details -->
                    <div class="section" style="min-height: 0" ng-if="model.selectedGroup.externalId != null && model.selectedGroup.externalId != undefined">

                        <h3 style="margin-bottom: 10px;">
                            {{'IDM.FUNCTIONAL-GROUP-MGMT.SYNC-DETAILS' | translate}}
                        </h3>

                        <table>
                            <tr>
                                <td style="padding-right: 10px;">{{'IDM.FUNCTIONAL-GROUP-MGMT.EXTERNAL-ID' | translate}}</td>
                                <td>{{model.selectedGroup.externalId}}</td>
                            </tr>
                            <tr>
                                <td style="padding-right:10px;">{{'IDM.FUNCTIONAL-GROUP-MGMT.LAST-SYNC-TIME' | translate}}</td>
                                <td>{{model.selectedGroup.lastSyncTimeStamp | dateformat}}</td>
                            </tr>
                        </table>

                    </div>


                    <!-- Users -->
                    <div class="section" style="min-height: 0">

                        <h3 style="margin-bottom: 10px;">
                            {{'IDM.FUNCTIONAL-GROUP-MGMT.MEMBERS' | translate}}
                            <span class="action">
                                 <a id="toggle-add-group-member"
                                    select-people-popover
                                    popover-title="IDM.FUNCTIONAL-GROUP-MGMT.ADD-POPOVER-TITLE"
                                    placement="bottom"
                                    on-people-selected="addGroupMember(user)"
                                    email-mode-disabled="true"
                                    tenant-id="common.selectedTenantId"
                                    type="'idm'"
                                    style="font-weight: normal">
                                     {{'IDM.FUNCTIONAL-GROUP-MGMT.ADD-USER' | translate}}
                                 </a>
                            </span>
                        </h3>

                        <div class="input-group user-search-field">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-search"></i>
                        </span>
                            <input type="text" ng-model="model.userFilter" class="form-control" ng-change="refreshDelayed()">
                        </div>

                        <span loading="model.loadingUsers"></span>

                    <span ng-if="model.users.data && model.users.data.length > 0">
                        {{'IDM.USER-MGMT.MATCHING-USERS' | translate:model.users}}
    					<a ng-click="showPreviousUsers()" ng-show="model.userPage > 0">&laquo; {{'IDM.USER-MGMT.SHOW-PREVIOUS' | translate}} {{model.pageSize}}</a>
						<span ng-show="model.userPage > 0 && model.moreUsers">|</span>
						<a ng-click="showNextUsers()" ng-show="model.moreUsers">{{'IDM.USER-MGMT.SHOW-NEXT' | translate}} {{model.pageSize}} &raquo;</a>
					</span>

                        <table width="100%" id="groupsTable" class="users" ng-if="model.users.data && model.users.data.length > 0">
                           <thead class="clearfix">
	                            <tr>
	                                <th width="30%">{{'IDM.USER-MGMT.ID' | translate}}</th>
	                                <th width="30%">{{'IDM.USER-MGMT.EMAIL' | translate}}</th>
	                                <th width="30%%">{{'IDM.USER-MGMT.NAME' | translate}}</th>
	                                <th width="10%"></th>
	                            </tr>
                            </thead>
                            <tbody id="groupsTableBody">
                            	 <tr class="clearfix" ng-repeat="user in model.users.data">
	                                <td>{{user.id}}</td>
	                                <td>{{user.email}}</td>
	                                <td>{{user.firstName}} {{user.lastName}}</td>
	                                <td align="center" ng-click="showRemoveMemberModal(user)"><i class="glyphicon glyphicon-trash" ></i></td>
	                            </tr>
                            </tbody>
                        
                        </table>

                        <div ng-if="!model.users || model.users.length == 0">
                            <span>{{'IDM.FUNCTIONAL-GROUP-MGMT.NO-MEMBERS' | translate}}</span>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <div class="nothing-to-see" ng-if="model.groups.length > 0 && !model.selectedGroup && !model.loading">
            <span>{{'IDM.FUNCTIONAL-GROUP-MGMT.NO-SELECTION' | translate}}</span>
        </div>

    </div>

</div>
