/**
 * Copyright 2005-2015 Alfresco Software, Ltd. All rights reserved.
 * License rights for this program may be obtained from Alfresco Software, Ltd.
 * pursuant to a written agreement and any use of this program without such an
 * agreement is prohibited.
 */

/**
 Colors: 
  - Header: #333333
  - Subheader: #e8edf1
  - Subheader border: #a4acb9
  - Highlight buttons/text: #3179ad
  - Text color: #1a1a1a
  - Filter color: #373e48
  - Dark highlight: #606b7d
*/

.btn .badge {
    background-color: #ffffff;
    color: #3179ad;
}

.item-wrapper>div {
    margin-right: 5px;
}

.filter-list.compact {
    padding-top: 0px;
}

ul {
    list-style: none;
    list-style-position: inside;
    padding-left: 5px;
}

.box>div {
    min-height: 50px;
}

.box h2 {
    margin: 5px;
    font-size: 18px;
    color: #606b7d;
}

/*--  User Summary Styles  --*/

.summaries {
    width: 50%;
}

.user-summary {
    text-align: center;
    margin: 5px 1%;
    float: left;
    width: 23%;
}

.user-summary .icon {
    font-size: 30px;
    height: 30px;
    padding: 0;
    margin: 5px 0 0 0;
    line-height: 30px;
    color: #606b7d;
}

.user-summary span {
    line-height: 30px;
}

.item-wrapper .message a {
    padding: 0 10px;
}

.users td {
    border: 0;
    color: #9aacb4;
    border: 0;
    cursor: pointer;
    padding: 5px;
    vertical-align: middle;
}

.users tbody tr {
    background-color: #283c46;
}

.users tbody tr:nth-child(odd) {
    background-color: #283c45;
}

.users tbody tr:nth-child(even) {
    background-color: #2d424b;
}

td.control {
    text-align: center;
}

.users tr.selected td {
    background-color: #344953;
}

.users th {
    height: 20px;
    background-color: #21323a;
    color: #8ea7b2;
    font-size: 12px;
    padding: 5px;
}

ul.user-list {
    padding-left: 10px;
}

ul.user-list i {
    padding-right: 5px;
}

ul.user-list li span {
    color: #666666;
}

.bar {
    width: 100%;
    margin: 5px 5px 5px 0px;
    padding-right: 10px;
    height: 10px;
    overflow: hidden;
}

.bar>div {
    height: 10px;
    float: left;
}

i.user-active {
    color: #3179ad;
}

div.user-active {
    background-color: #3179ad;
}

i.user-inactive {
    color: #a4acb9;
}

div.user-inactive {
    background-color: #a4acb9;
}

i.user-deleted {
    color: #FF5741;
}

div.user-deleted {
    background-color: #FF5741;
}

i.user-pending {
    color: #FFC541;
}

div.user-pending {
    background-color: #FFC541;
}

i.user-trial {
    color: #a4acb9;
}

div.user-trial {
    background-color: #a4acb9;
}

i.user-enterprise {
    color: #3179ad;
}

div.user-enterprise {
    background-color: #3179ad;
}

.nopadding>div {
    padding: 0px;
}

.nopadding .form-group {
    padding-right: 5px;
}

/*--  List Filter Styles  --*/

.filter-wrapper {
    min-height: 400px;
    margin-top: 10px;
}

ul.filter-list {
    list-style: none;
    list-style-position: inside;
    padding-left: 0px;
    padding-top: 10px;
}

ul.filter-list li a {
    display: block;
    color: #373e48;
    font-size: 17px;
    margin: 10px 5px 10px 0px;
    padding-left: 10px;
}

ul.filter-list li.current a {
    color: #3179ad;
    padding-left: 5px;
    border-left: 4px solid #3179ad;
}

ul.filter-list li a:hover,
ul.filter-list li a:focus {
    text-decoration: none;
    background-color: #e8edf1;
}

ul.filter-list li.current a:hover,
ul.filter-list li.current a:focus {
    background-color: transparent;
    color: #3179ad;
    cursor: default;
    text-decoration: none;
}

.user-detail {
    padding: 5px 40px 5px 0;
}

.users-details .glyphicon {
    margin-right: 5px;
}

.subtle-event {
    color: #606b7d;
}

/*--  Groups Styles  --*/

.group-member .glyphicon {
    margin-right: 5px;
}

.potential-group-member,
.potential-capability {
    cursor: pointer;
    font-size: 16px;
}

.potential-group-member-selected,
.potential-capability-selected {
    color: #3179ad;
}

.subgroup {
    cursor: pointer;
}

.disabled-group {
    text-decoration: line-through;
    color: #808080;
}

/*--  Inspired by http://jsfiddle.net/mehmetatas/fXzHS/2/  --*/

.group-tree li {
    margin: 0px 0;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0px 10px;
}

.group-tree ul {
    padding-left: 10px;
}

.group-tree li::before {
    content: '';
    position: absolute;
    top: 0;
    width: 1px;
    height: 100%;
    right: auto;
    left: 0px;
    border-left: 1px solid #ccc;
    bottom: 50px;
}

.group-tree li::after {
    content: '';
    position: absolute;
    top: 35px;
    width: 10px;
    height: 20px;
    right: auto;
    left: 0px;
    border-top: 1px solid #ccc;
}

.group-tree li a {
    display: inline-block;
    font-size: 16px;
    border: 1px solid #ccc;
    padding: 5px 16px;
    text-decoration: none;
    color: #000;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.group-tree li a.active {
    background-color: #c8e4f8;
}

.group-tree .group-icon {
    font-size: 14px;
    color: #999;
    padding-right: 5px;
}

/*--  Remove connectors before root  --*/

.group-tree>ul>li::before,
.group-tree>ul>li::after {
    border: 0;
}

/*--  Remove connectors after last child  --*/

.group-tree li:last-child::before {
    height: 35px;
}

/*--  We will apply the hover effect the the lineage of the element also  --*/

.group-tree li a:hover,
.group-tree li a:hover+ul li a {
    background-color: #eeeeee;
    color: #000;
}

/*--  Connector styles on hover   --*/

.group-tree li a:hover+ul li::after,
.group-tree li a:hover+ul li::before,
.group-tree li a:hover+ul::before,
.group-tree li a:hover+ul ul::before {
    border-color: #94a0b4;
}

.user-search-field {
    margin: 20px 0 15px 0;
    width: 40%;
}

/*--  Profile Styles  --*/

.profile-detail {
    padding: 5px 0 5px 5px;
    margin: 0 0 5px -5px;
    color: #4e6271;
}

.profile-detail:hover {
    cursor: pointer;
    /*  background:  #e8edf1; */
}

.profile-detail .nothing-to-see {
    padding: 0px;
    color: #4e6271;
}

.list-wrapper h4 {
    padding: 0;
    margin: 10px 0;
    color: #657F8B;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: normal;
    line-height: 16px;
}

.main-content>.nothing-to-see {
    margin: 20px 15px 10px 30px;
    text-align: center;
}

.clickable {
    cursor: pointer;
}

.tenant-logo-preview {
    margin: 10px;
}

/*--  Table Styles  --*/

.table .actions {
    text-align: right;
}

.table .actions>button {
    padding: 3px 10px;
    margin: 0px;
    border: none;
    background-color: transparent;
    margin: 0;
}

.table .actions>button:hover {
    background-color: #ffffff;
    border: none;
}

/*--  Modal Styles  --*/

.modal.modal-wide .modal-dialog {
    width: 1000px;
}

.modal-dialog.modal-wide {
    width: 1000px;
}

.modal-dialog.modal-maxheight {
    max-height: 724px;
    overflow-y: auto;
}