
<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="$hide()"><span>&#x2716;</span></button>
                <h4 class="modal-title">{{'IDM.FUNCTIONAL-GROUP-MGMT.POPUP.DELETE-MEMBER-TITLE' | translate}}</h4>
            </div>
            <div class="modal-body">

                <div>
                    {{'IDM.FUNCTIONAL-GROUP-MGMT.POPUP.DELETE-MEMBER-DESCRIPTION' | translate}}
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="$hide()">{{'IDM.GENERAL.ACTION.CANCEL' | translate}}</button>
                <button type="button" class="btn btn-primary" ng-click="deleteGroupMember(); $hide()">{{'IDM.FUNCTIONAL-GROUP-MGMT.POPUP.DELETE-CONFIRM' | translate}}</button>
            </div>

        </div>
    </div>
</div>