
<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" ng-click="$hide()"><span>&#x2716;</span></button>
                <h4 class="modal-title" ng-if="model.mode == 'create'">
                    {{'IDM.FUNCTIONAL-GROUP-MGMT.POPUP.CREATE-TITLE' | translate}}
                </h4>
                <h4 class="modal-title" ng-if="model.mode == 'edit'">
                    {{'IDM.FUNCTIONAL-GROUP-MGMT.POPUP.EDIT-TITLE' | translate}}
                </h4>
            </div>

            <div class="modal-body">                   
                <div class="form-group" ng-if="model.mode == 'create'">
                    <label class="control-label">{{'IDM.FUNCTIONAL-GROUP-MGMT.POPUP.CREATE-ID' | translate}}</label>
                    <input type="text" class="form-control" ng-model="model.editedGroup.id" auto-focus>
                </div>
                <div class="form-group">
                    <label class="control-label">{{'IDM.FUNCTIONAL-GROUP-MGMT.POPUP.CREATE-NAME' | translate}}</label>
                    <input type="text" class="form-control" ng-model="model.editedGroup.name">
                </div>
                <div class="form-group">
                    <label class="control-label">Description</label>
                    <input name="description" type="text" class="form-control" auto-focus ng-model="model.user.description">
                </div>
                <div class="form-group">
                    <label class="control-label">Remarks</label>
                    <input name="remarks" type="text" class="form-control" auto-focus ng-model="model.user.remarks">
                </div> 
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="$hide()">{{'IDM.GENERAL.ACTION.CANCEL' | translate}}</button>
                <button type="button" ng-if="model.mode == 'create'" class="btn btn-primary" ng-disabled="!model.editedGroup.id || !model.editedGroup.name || model.editedGroup.name.length == 0"
                        ng-click="createGroup(); $hide()">{{'IDM.GENERAL.ACTION.SAVE' | translate}}</button>
                <button type="button" ng-if="model.mode == 'edit'" class="btn btn-primary" ng-disabled="!model.editedGroup.id || !model.editedGroup.name || model.editedGroup.name.length == 0"
                        ng-click="updateGroup(); $hide()">{{'IDM.GENERAL.ACTION.SAVE' | translate}}</button>
            </div>

        </div>
    </div>
</div>
