
<div class="modal" tabindex="-1" role="dialog" ng-controller="IdmChangePasswordController">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="$hide()"><span>&#x2716;</span></button>
                <h4 class="modal-title">{{'IDM.PROFILE-MGMT.POPUP.CHANGE-PASSWORD-TITLE' | translate}}</h4>
            </div>
            <div class="modal-body">

                <div clas="form-group">

                    <label>{{'IDM.PROFILE-MGMT.POPUP.CHANGE-PASSWORD-ORIGINAL' | translate}}</label>
                    <input auto-focus type="password" class="form-control" ng-model="model.changePassword.originalPassword">

                    <label>{{'IDM.PROFILE-MGMT.POPUP.CHANGE-PASSWORD-NEW-PASSWORD' | translate}}</label>
                    <input type="password" class="form-control" ng-model="model.changePassword.newPassword">

                    <label>{{'IDM.PROFILE-MGMT.POPUP.CHANGE-PASSWORD-NEW-PASSWORD2' | translate}}</label>
                    <input type="password" class="form-control" ng-model="model.changePassword.newPassword2">

                </div>

                <div ng-if="showPasswordsDontMatch()" style="color: red">
                    <span>{{'IDM.PROFILE-MGMT.POPUP.CHANGE-PASSWORD-NOT-MATCHING' | translate}}</span>
                </div>


            </div>

            <div class="modal-footer">
                <div class="pull-left" ng-if="model.changePassword.error" style="color: red">
                    <span>{{'IDM.PROFILE-MGMT.POPUP.CHANGE-PASSWORD-INVALID' | translate}}</span>
                </div>

                <button type="button" class="btn btn-default" ng-click="$hide()">{{'IDM.GENERAL.ACTION.CANCEL' | translate}}</button>
                <button type="button" class="btn btn-primary" ng-disabled="isConfirmButtonDisabled()" ng-click="changePassword();">{{'IDM.PROFILE-MGMT.POPUP.CHANGE-PASSWORD-CONFIRM' | translate}}</button>
            </div>

        </div>
    </div>
</div>