<div class="popover" click-anywhere="$hide()" ignore-class="toggle-content-select" auto-scroll>
    <div class="arrow"></div>
    <div class="popover-header">
        <span class="title">{{'TASK.TITLE.ADD-RELATED-CONTENT' | translate}}</span>
        <div class="actions">
<!--             <a ng-click="$hide()" ng-show="!newTask.loading">{{'GENERAL.ACTION.CLOSE' | translate}}</a> -->
				 <a ng-click="$hide()" ng-show="!newTask.loading"><span>&#x2716;</span></a>
        </div>
    </div>
    <div class="popover-wrapper"></div>
</div>