<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="activitiLanding"> <!--<![endif]-->
<head ng-cloak>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title ng-bind="contextPath"></title>
    <script src="libs/jquery_1.11.0/jquery.min.js"></script>
    <script>
     jQuery.ajax({
            type: "GET",
            async: false,
            url: "environment.jsp",
            data: {},
            success: function (html) {
               response = JSON.parse(html.trim());
               EHUB_API= response.ehub_rest_end_point;
		       POLICY_ENFORCEMENT_PATH= response.policy_enforcement_url;
		       KYC_QUESTIONNAIRE_PATH= response.kyc_questionnaire_url;
		       ACTIVITI_FE_PATH= response.activiti_url;
		       EHUB_FE_API= response.ehub_fe_api;
            }
        });
    </script>
    <link rel="icon" type="image/ico" href="favicon.ico">

    <!-- build:css styles/common/3thparty.css -->
    <link href="styles/common/bootstrap.min.css" rel="stylesheet">
    <link href="styles/font-awesome.min.css" rel="stylesheet">
    <link href="libs/nvd3_1.1.15-beta/nvd3.min.css" rel="stylesheet">
    <link rel="Stylesheet" href="libs/jquery-ui.css" type="text/css"/>
    <link href="libs/bootstrap-daterangepicker_1.3.7/daterangepicker-bs3.css" rel="stylesheet">
    <link href="libs/angular-flash.css" rel="stylesheet">
    <link href="libs/jquery.mCustomScrollbar.css" rel="stylesheet">
    <!-- endbuild -->

    <!-- build:css styles/style.css -->
    <link href="styles/style-landing.css" rel="stylesheet">
    <!-- endbuild -->

    <!-- build:css styles/common/style.css -->
    <link href="styles/common/style.css" rel="stylesheet">
    <link href="styles/common/style-retina.css" rel="stylesheet">
    <!-- endbuild -->
    
	
</head>
<body ng-class="{'login-page': onLogin}" ng-cloak>
	<flash-message class="main-flash-wrapper"></flash-message>
	<div ng-show="topPanelPreview">
		<ng-include src="'views/common/topPanel.html'"></ng-include>
<!-- 				<%@include file="topPanel.jsp" %> -->
	</div>
    <div ng-if="!onLogin">
		
        <div class="navbar navbar-fixed-top navbar-inverse" role="navigation" id="main-nav">
            <div class="fixed-container">
                <div class="navbar-header">
                    <a ng-click="backToLanding()" class="landing-logo" ng-if="account != null && account != undefined">
                        <img ng-src="{{appResourceRoot}}images/activiti-logo.png">
                        <span>Element</span>
                    </a>
                </div>
                <div class="pull-right">
                    <div class="dropdown btn-group btn-group-sm">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> {{account.firstName}} {{account.lastName}}
                            <span class="glyphicon glyphicon-chevron-down" style="font-size: 10px" aria-hidden="true"></span>
                        </button>
                        <ul class="dropdown-menu pull-right">
                            <li><a ng-click="logout()" translate="GENERAL.ACTION.LOGOUT"></a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
		
        <div class="alert-wrapper" ng-cloak>
            <div class="alert {{alerts.current.type}}" ng-show="alerts.current" ng-click="dismissAlert()">
                <span>{{alerts.current.message}}</span>
                <span class="badge" ng-show="alerts.queue.length">{{alerts.queue.length + 1}}</span>
            </div>
        </div>
		<div class="subheader">
			<div class="fixed-container">			
				<div class="clearfix utilities-panel-wrapper db-util-background-{{submenu.dashboardName}}">
				   <div class="custom-spinner case-dairy-spinner" ng-show="submenu.fetchingcaseDocuments"><i class="fa fa-spinner fa-spin fa-3x"></i></div>
				   <div ng-include='"views/common/submenu-dropdown.html"' ng-controller="submenuDropdownController"></div>
		  		 </div>
			  	 <div class="utilities-panel-contents-wrapper db-util-process-tab-manage db-util-background-manage">
				   	<div class="activiti-subheader-wrapper">
				    	<div class="container-fluid clearfix">
				   	 		<div class="row">
					     		<div class="col-sm-9 task-subheader-content">
							 		<ul class="nav navbar-nav">
					                    <li ng-repeat="item in mainNavigation"
					                        id="{{item.id}}"
					                        ng-show="item.isVisible() && (authenticated && !item.unauthenticated) || (item.unauthenticated && !authenticated)"
					                        ng-class="{'active': item.id == mainPage.id}">
					                        <a ng-click="setMainPage(item)">{{item.title | translate}}</a>
					                    </li>
					                </ul>
					    		 </div>
				     		</div>
				   		 </div>
				  	 </div>
				   </div>
			   </div>
			</div>
		</div>
        <div class="apps-wrapper clearfix" ng-view="" ng-cloak ng-style="{height: window.height + 'px'}">
        </div>

    </div>

    <div ng-if="onLogin">
        <div class="alert-wrapper" ng-cloak>
            <div class="alert {{alerts.current.type}}" ng-show="alerts.current" ng-click="dismissAlert()">
                <span>{{alerts.current.message}}</span>
                <span class="badge" ng-show="alerts.queue.length">{{alerts.queue.length + 1}}</span>
            </div>
        </div>
        <div ng-view="" ng-cloak ng-style="{height: window.height + 'px'}"></div>
    </div>

    <!--[if lt IE 9]>
    <div class="unsupported-browser">
        <p class="alert error">You are using an unsupported browser. Please upgrade your browser in order to use the editor.</p>
    </div>
    <![endif]-->

    <!--[if lt IE 9]>
    <script src="libs/es5-shim-15.3.4.5/es5-shim.js"></script>
    <script src="libs/json3_3.2.6/lib/json3.min.js"></script>
    <![endif]-->

    <!-- 3rd party libs -->
    
    <script src="libs/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="libs/jquery-ui.js"></script>
    <script src="libs/jquery.mCustomScrollbar.js"></script>

    <script src="libs/angular_1.3.13/angular.js"></script>
    <script src="libs/angular-animate_1.3.13/angular-animate.min.js"></script>
    <script src="libs/bootstrap_3.1.1/js/bootstrap.min.js"></script>
    <script src="libs/ui-bootstrap-0.14.3.min.js"></script>
    <script src="libs/ui-bootstrap-tpls.min.js"></script>
 	<script src="libs/angular-resource_1.3.13/angular-resource.min.js"></script>
    <script src="libs/angular-cookies_1.3.13/angular-cookies.min.js"></script>
    <script src="libs/angular-sanitize_1.3.13/angular-sanitize.min.js"></script>
    <script src="libs/angular-route_1.3.13/angular-route.min.js"></script>
    <script src="libs/angular-translate_2.4.2/angular-translate.min.js"></script>
    <script src="libs/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
    <script src="libs/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
    <script src="libs/angular-strap_2.1.6/angular-strap.min.js"></script>
    <script src="libs/angular-strap_2.1.6/angular-strap.tpl.min.js"></script>
    <script src="libs/autofill-events_1.0.0/autofill-event.js"></script>
    <script src="libs/ng-file-upload/ng-file-upload-shim.min.js"></script>
	<script src="libs/ng-file-upload.min.js"></script>
	<script src="libs/angular-flash.js"></script>
	<script src="libs/FileSaver.min.js"></script>
	<script src="libs/typeahead.js"></script>
	<script src="libs/bootstrap3Typeahead.js"></script>
    <!-- Configuration -->
    <script src="scripts/app-cfg.js?v=2"></script>

    <!-- build:js scripts/scripts.js -->
    <script src="scripts/landing-app.js"></script>
    <script src="scripts/common/services/authentication-service.js"></script>
    <script src="scripts/common/services/related-content-service.js"></script>
    <script src="scripts/common/services/authentication-service.js"></script>
    <script src="scripts/common/services/runtime-app-definition-service.js"></script>
    <script src="scripts/common/directives.js"></script>
    <script src="scripts/common/providers-config.js"></script>
    <script src="scripts/common/constants/app.constant.js"></script>
    <script src="scripts/common/controllers/advanced.search.controller.js"></script>
    <script src="scripts/common/controllers/my.clipboard.controller.js"></script>
    <script src="scripts/common/controllers/top.panel.controller.js"></script>
    <script src="scripts/common/controllers/user.events.controller.js"></script>
<!--     <script src="scripts/common/directives/calendar.directive.js"></script> -->
    <script src="scripts/common/directives/sticky.notes.directives.js"></script>
    <script src="scripts/common/directives/popover.directive.js"></script>
    <script src="scripts/common/services/top.panel.api.service.js"></script>
    <script src="scripts/common/services/shared.service.js"></script>
    <script src="scripts/common/controllers/submenu.dropdown.controller.js"></script>
    <script src="scripts/controllers.js"></script>
    <script src="scripts/landing-controller.js"></script>
	
    <script src="scripts/common/controllers/about.js"></script>
    <!-- endbuild -->

    <!-- Integration extensions -->
    <script src="scripts/resource-loader.js?v=2" app="landing"></script>
    <script src="scripts/common/services/common.service.js"></script>
	<script src="scripts/common/modal/js/dataPopUp.modal.controller.js"></script>
</body>
</html>