<div class="modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body pad-b0">
			    <p class="mar-0 ">Please Enter Sticky Title</p>
			    <div class="custom-input-group">
			        <input type='text' id="getTitle">
			    </div>
			</div>
			<div class="modal-footer">
			    <button type="button" ng-click="confirmDocument()" class="btn btn-update">Save</button>
			    <button type="button" ng-click="confirmDocument('close')" class="btn btn-update">Cancel</button>
			</div>
		</div>
	</div>
</div>