
<div class="modal" ng-controller="CreateNewSubProcessCtrl">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
			<button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true"><span>&#x2716;</span></button>
			<h2>{{'SUBPROCESS.POPUP.CREATE-TITLE' | translate}}</h2>
			</div>
			<div class="modal-body">
				<p>{{'SUBPROCESS.POPUP.CREATE-DESCRIPTION' | translate}}</p>
				<div class="form-group">
				    <label for="newSubProcessName">{{'SUBPROCESS.NAME' | translate}}</label>
				    <input ng-disabled="model.loading" type="text" class="form-control"
			               id="newSubProcessName" ng-model="model.subProcess.name" ui-keypress="{13:'ok()'}" auto-focus editor-input-check>
				</div>
				<div class="form-group">
				    <label for="newFormDescription">{{'SUBPROCESS.DESCRIPTION' | translate}}</label>
					<textarea ng-disabled="model.loading" class="form-control" id="newFormDescription" rows="5" ng-model="model.subProcess.description"></textarea>
				</div>
			</div>
			
			<div class="modal-footer">
				<div class="pull-right">
					<button type="button" class="btn btn-sm btn-default" ng-click="cancel()" ng-disabled="model.loading">
						{{'GENERAL.ACTION.CANCEL' | translate}}
					</button>
					<button type="button" class="btn btn-sm btn-primary" ng-click="ok()"ng-disabled="model.loading || !model.subProcess.name">
						{{'SUBPROCESS.ACTION.CREATE-CONFIRM' | translate}}
					</button>
				</div>
				<div class="loading pull-right" ng-show="model.loading">
					<div class="l1"></div><div class="l2"></div><div class="l2"></div>
				</div>
			</div>
		</div>
	</div>
</div>